<h1>
  List of all actors
</h1>

<hr>

<form action="/actors/create_actor" method="post">
  <div>
    <label for="form_name">
      Name
    </label>

    <input id="form_name" name="form_name">
  </div>

   <div>
    <label for="form_dob">
      Dob
    </label>

    <input type="date" id="form_dob" name="form_dob">
  </div>

  <div>
    <label for="form_bio">
      Bio
    </label>

    <textarea id="form_bio" name="form_bio" row="3"></textarea>
  </div>

    <div>
    <label for="form_image">
      Image
    </label>

    <input id="form_image" name="form_image">
  </div>

  <button>Create actor</button>

</form>  

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_actors.each do |an_actor| %>
  <tr>
    <td>
      <%= an_actor.id %>
    </td>

    <td>
      <img src="<%= an_actor.image %>" style="width:250px;">
    </td>

    <td>
      <%= an_actor.name %>
    </td>

    <td>
      <%= an_actor.dob %>
    </td>

    <td>
      <a href="/actors/<%= an_actor.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
